#jednakoBtn {
    -fx-background-color: lightcoral;
    -fx-font-family: Arial;
    -fx-font-size:20;
    -fx-font-weight: lighter;
    -fx-stroke: black;
    -fx-font-style:italic;
    -fx-border-radius: 0% ;
    -fx-background-radius: 0%;
    -fx-padding: 0;
}

#unosBrojeva {
    -fx-background-color: lightgreen;
    -fx-font-family: Arial;
    -fx-font-size:20;
    -fx-font-weight: lighter;
    -fx-stroke: black;
    -fx-font-style:italic;
    -fx-border-radius: 0% ;
    -fx-background-radius: 0%;
    -fx-padding: 0;
}